[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
matplotlib = "*"
numpy = "*"
seaborn = "*"
tqdm = "*"
torch = "*"
opencv-python = "*"
tensorboardx = "*"
pyyaml = "*"
tensorboard = "*"
keyboard = "*"
gymnasium = {extras = ["box2d"], version = "*"}
highway-env = "*"
moviepy = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
